.carte-page {
  margin-bottom: 60px;
}

.carte-page__content {
  max-width: 688px;
  margin: 0 auto;
}

.carte-page__tabs .tab-content {
  display: block;
  width: 100%;
}

.customer-info {
  border: 1px solid #efefef;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.8;
  max-width: 384px;
  margin: 40px auto;
  padding: 24px 32px;
}

.customer-info__btn {
  line-height: 1;
  padding: 10px 0;
}

.history {
  margin-right: 16px;
}

.history__loadmore {
  margin-top: 15px;
  text-align: right;
}

.history__btn {
  font-size: 16px;
  position: relative;
  padding-right: 0;
}

.history__btn .icon {
  color: #2f2f2f;
  margin: 0 0 0 8px;
}

.service-memo__item {
  margin-top: 25px;
}

.service-memo__staff {
  font-size: 16px;
  margin-bottom: 10px;
}

.service-memo__loadmore {
  margin-top: 15px;
  text-align: right;
}

.service-memo__btn {
  font-size: 16px;
  position: relative;
  padding-right: 0;
}

.service-memo__btn .icon {
  color: #2f2f2f;
  margin: 0 0 0 8px;
}

.message-history__item {
  margin-bottom: 16px;
  line-height: 1.8;
}

.message-history__loadmore {
  margin-top: 15px;
  text-align: right;
}

.message-history__btn {
  font-size: 16px;
  position: relative;
  padding-right: 0;
}

.message-history__btn .icon {
  color: #2f2f2f;
  margin: 0 0 0 8px;
}

.box--border {
  padding: 16px;
  border: 1px solid #efefef;
}

.box__content {
  max-height: 450px;
  overflow: auto;
}

.box__content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.box__content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.box__content::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 4px;
}

.box__content {
  scrollbar-face-color: #888;
  scrollbar-track-color: #efefef;
}

.measure__list {
  margin-right: 16px;
}

.measure__item {
  padding: 24px;
  border-bottom: 1px solid #efefef;
  line-height: 1.8;
}

.measure__item.active {
  background-color: #efefef;
}

.table-chut {
  font-size: 10px;
  margin: 0;
}

.table-chut td {
  padding: 7px;
}

.table-chut thead th {
  background-color: #e5e5e5;
  font-weight: 600;
  word-break: keep-all;
  text-align: center;
  border-right: 1px solid #efefef;
  padding: 7px;
}

.table-chut thead th:last-child {
  border-right: 0;
}

.table-chut tbody {
  background-color: #efefef;
}

.table-chut tbody td {
  border: 1px solid #e5e5e5;
}

.table-chut tbody td:first-child {
  border-left: 0;
}

.table-chut tbody td:last-child {
  border-right: 0;
}

.table-chut tbody tr:last-child td {
  border-bottom: 0;
}

.table-chut tbody p {
  margin-bottom: 0;
  padding: 5px 0;
}

.table-chut tbody .active {
  margin: 0 -7px;
  padding: 5px 7px;
  background-color: #e5e5e5;
}

.table-chut .purchase-date {
  min-width: 90px;
}

.table-chut .purchase-store {
  min-width: 93px;
}

.table-chut .product {
  width: auto;
  min-width: 120px;
}

.table-chut .quantity {
  min-width: 45px;
}

.table-chut .price {
  min-width: 65px;
}

.table-chut .total {
  min-width: 60px;
}

.table-chut .total-fee {
  text-align: right;
}

.table-chut .grant-points {
  min-width: 80px;
}

.table-chut .grant-points-value {
  text-align: right;
}

.table-chut .usage-points {
  min-width: 80px;
}

/*# sourceMappingURL=carte-page.css.map */
